.company_item {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.company_item > button {
  width: 30px;
  height: 40px;
  align-self: center;
}

.company_item_name {
  color: #fdfaf9;
}

.company_item_capitalization {
  color: #fdfaf9;
}